	<div class="container mt-2" ng-if="items" >
        <table class="table table-striped" >
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Information</th>
                    <th>Price</th>
                    <th>Date</th>
                    <th>Image</th>
                    <th>Image2</th>
                    <th>Image3</th>
                    <th>Image4</th>
                    <th>Category</th>
                    <th>Available</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in pager.items">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.information}}</td>
                    <td>{{item.price | number : 2}}</td>
                    <td>{{item.createDate | date : 'dd-MM-yyyy'}}</td>
                    <td><img src="/img/{{item.image}}" alt="Product Image" class="img-fluid" style="width: 100px; height: 100px;"></td>
                    <td><img src="/img/{{item.image2}}" alt="Product Image" class="img-fluid" style="width: 100px; height: 100px;"></td>
                    <td><img src="/img/{{item.image3}}" alt="Product Image" class="img-fluid" style="width: 100px; height: 100px;"></td>
                    <td><img src="/img/{{item.image4}}" alt="Product Image" class="img-fluid" style="width: 100px; height: 100px;"></td>
                    <td>{{item.category.name}}</td>
                    <td>{{item.description?'Yes':'No'}}</td>
                    <td>
                        <button ng-click="edit(item)" class="btn btn-primary btn-sm">Edit</button>
                        <button ng-click="delete(item)"  class="btn btn-danger btn-sm">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav aria-label="Page navigation" class="d-flex justify-content-center mt-4">
            <button ng-click="pager.first()" class="btn btn-outline-dark rounded-circle me-2">
                <i class="ri-skip-left-line"></i>
            </button>
            <button ng-click="pager.prev()" class="btn btn-outline-dark rounded-circle me-2">
                <i class="ri-arrow-left-s-line"></i></button>
            <button class="btn btn-outline-dark rounded-pill me-2" disabled>{{pager.page + 1}}/{{pager.count}} trang</button>
            <button ng-click="pager.next()" class="btn btn-outline-dark rounded-circle me-2">
                <i class="ri-arrow-right-s-line"></i>
            </button>
            <button ng-click="pager.last()" class="btn btn-outline-dark rounded-circle me-2">
                <i class="ri-skip-right-line"></i>
            </button>
        </nav>
    </div>